<a href="https://colab.research.google.com/github/abnerdaniel/AV1-WDC/blob/main/semana11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [6]:
arquivo_json = "https://apisidra.ibge.gov.br/values/t/1736/n1/all/v/all/p/all/d/v44%202,v68%202,v2289%2013,v2290%202,v2291%202,v2292%202?formato=json"

In [8]:
df_pc = pd.read_json(arquivo_json)

In [25]:
df_pc

                              NC  ...            D3N
0     Nível Territorial (Código)  ...            Mês
1                              1  ...     março 1979
2                              1  ...     abril 1979
3                              1  ...      maio 1979
4                              1  ...     junho 1979
...                          ...  ...            ...
3068                           1  ...     junho 2021
3069                           1  ...     julho 2021
3070                           1  ...    agosto 2021
3071                           1  ...  setembro 2021
3072                           1  ...   outubro 2021

[3073 rows x 11 columns]

In [12]:
df_pc['MC']

0       Unidade de Medida (Código)
1                               30
2                               30
3                               30
4                               30
                   ...
3068                             2
3069                             2
3070                             2
3071                             2
3072                             2
Name: MC, Length: 3073, dtype: object

In [26]:
df_pc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NC      3073 non-null   object
 1   NN      3073 non-null   object
 2   MC      3073 non-null   object
 3   MN      3073 non-null   object
 4   V       3073 non-null   object
 5   D1C     3073 non-null   object
 6   D1N     3073 non-null   object
 7   D2C     3073 non-null   object
 8   D2N     3073 non-null   object
 9   D3C     3073 non-null   object
 10  D3N     3073 non-null   object
dtypes: object(11)
memory usage: 264.2+ KB

In [45]:
df_pc.set_index("D3N")

                                       NC  ...           D3C
D3N                                        ...
Mês            Nível Territorial (Código)  ...  Mês (Código)
março 1979                              1  ...        197903
abril 1979                              1  ...        197904
maio 1979                               1  ...        197905
junho 1979                              1  ...        197906
...                                   ...  ...           ...
junho 2021                              1  ...        202106
julho 2021                              1  ...        202107
agosto 2021                             1  ...        202108
setembro 2021                           1  ...        202109
outubro 2021                            1  ...        202110

[3073 rows x 10 columns]

In [46]:
df_pc.head()

                           NC                 NN  ...           D3C         D3N
0  Nível Territorial (Código)  Nível Territorial  ...  Mês (Código)         Mês
1                           1             Brasil  ...        197903  março 1979
2                           1             Brasil  ...        197904  abril 1979
3                           1             Brasil  ...        197905   maio 1979
4                           1             Brasil  ...        197906  junho 1979

[5 rows x 11 columns]

In [48]:
df_pc.describe()

          NC      NN  ...     D3C          D3N
count   3073    3073  ...    3073         3073
unique     2       2  ...     513          513
top        1  Brasil  ...  199706  agosto 2005
freq    3072    3072  ...       6            6

[4 rows x 11 columns]

In [11]:
df_pc.loc[(df_pc['MC'] < 10) & (df_pc['MC'] > 1)]

TypeError: ignored